# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
opencv-python==4.5.5.64
numpy
azure-storage-blob
MarkupSafe==3.0.2
Werkzeug==3.1.3
azure-cognitiveservices-vision-computervision==0.9.0
openai

